body{
    margin: 0%;
}
.comics{
    display: block;
}
.over{
    display: none;
}
.correct{
    display: none;
}
.wrong{
    display: none;
}

.comics{
    max-height: auto;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    overflow: hidden;
}

.comics::-webkit-scrollbar {
    display: none;
}

.conrent{
    max-height: auto;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.choice{
    max-width: 100%;
    width: 180px;
    z-index: 2;
}

.correct{
    position: absolute;
    margin-left: 3%;
    margin-top: -350%;
}

.wrong{
    position: absolute;
    margin-top: -365%;
    margin-left: 52%;
}